@charset "UTF-8";
body{
    background-color: bisque;
    color: mediumvioletred;
}
.sitebar{
    display: flex;
    justify-content: center;
    overflow: auto;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #faebd7;
    border-radius: 20px;
}
.sitebar a{
    text-decoration: none;
    color: mediumvioletred;
    margin: 0 10px;
}
.sitebar:hover{
    font-size: larger;
    transition: all;
}
.prek{
    float: left;
    margin: 10px;
    padding: 50px;
    display: inline;
}
.preg{
    float: right;
    margin: 10px;
    padding: 50px;
    display: inline;
}
h1{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}