@charset "UTF-8";
.sitebar {
    display: flex;
    justify-content: center;
    background-color: #faebd7;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.sitebar a {
    text-decoration: none;
    color: mediumvioletred;
    margin: 0 10px;
}
body{
    background-color: bisque;
    color: mediumvioletred;
}
h1{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.list{
    text-indent: 30px;
    line-height: 3;
    margin: 10px;
    list-style-type: georgian;
}
.formule2{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto ;
    margin-right: auto;
}
