@charset "UTF-8";
.sitebar{
    display: inline-block;
    /* text-align: center; */
    overflow: auto;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    /* background-color: antiquewhite; */
    background-color: #faebd7;
    border-radius: 20px;
}
body{
    background-color: bisque;
    color: mediumvioletred;
}
h1{
    text-align:  justify;
    font-weight: bold;
    font-style: italic;
    text-indent: 30px;
}
p{
    text-indent: 50px;
    list-style-type: georgian;
    margin: 20px;
}
li,ul{
    list-style-type: georgian;
    margin: 20px;
    text-indent: 30px;
}


/* .formule2{
    text-align: center;
} */
.center{
    display: block;
    margin-left: auto ;
    margin-right: auto;
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}