@charset "UTF-8";
.sitebar{
    display: flex;
    justify-content: center;
    overflow: auto;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #faebd7;
    border-radius: 20px;
}
.sitebar a{
    text-decoration: none;
    color: mediumvioletred;
    margin: 0 10px;
}
.sitebar:hover{
    font-size: larger;
    transition: all;
}
body{
    background-color: bisque;
    color: mediumvioletred;
}
h2{
    font-weight: bold;
    font-style: italic;
    text-indent: 30px;
}
.list{
    text-indent: 30px;
    line-height: 3;
    margin: 10px;
    list-style-type: georgian;
}
.right{
    display: inline-block;
    margin-left: auto;
    position:relative;
    left: 300px;
    top: auto;

}
.click{
    float: left;
}
img{
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}
